.container{
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}
.bgimg{
  width: 100%;
}
.box1{
  width: 80%;
  margin: 5px;
}

.box2{
  width: 90%;
  font-size: 16px;
  font-weight: bold;

}
.box3{
  width: 80%;
  font-size: 18px;
  font-weight: bold;
}
h1{
text-decoration: underline;
}
